# See https://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
/tools/examples/shared/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
/.firebase/
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
firebase-debug.log
testem.log
/typings

# e2e
protractor-results*.txt

# Example playground
content/example-playground

# System files
.DS_Store
Thumbs.db
.angular
.angular/
.angular/cache
.angular/cache/
.angular/cache/*
.angular/cache/15.1.6/angular-webpack/5c6e27732e91d5c64f7772339f8785c3989c475d/0.pack
.angular/cache/15.1.6/angular-webpack/5c6e27732e91d5c64f7772339f8785c3989c475d/2.pack
.angular/cache/15.1.6/angular-webpack/5c6e27732e91d5c64f7772339f8785c3989c475d/3.pack
.angular/cache/15.1.6/angular-webpack/5c6e27732e91d5c64f7772339f8785c3989c475d/4.pack
.angular/cache/15.1.6/angular-webpack/5c6e27732e91d5c64f7772339f8785c3989c475d/10.pack
.angular/cache/15.1.6/angular-webpack/5c6e27732e91d5c64f7772339f8785c3989c475d/3.pack
.angular/cache/15.1.6/angular-webpack/5c6e27732e91d5c64f7772339f8785c3989c475d/2.pack
.angular/cache/15.1.6/angular-webpack/5c6e27732e91d5c64f7772339f8785c3989c475d/0.pack
.angular/cache/15.1.6/angular-webpack/5c6e27732e91d5c64f7772339f8785c3989c475d/index.pack
.angular/cache/15.1.6/angular-webpack/5c6e27732e91d5c64f7772339f8785c3989c475d/index.pack.old
.angular/cache/15.1.6/angular-webpack/5c6e27732e91d5c64f7772339f8785c3989c475d/0.pack
src/app/components/app-header/app-header.component.html
/.angular/
/.vscode/
