.header_nav {
  height: 35px;

  &-list {
    & a {
      color: #54530e;
      font-size: 12px;
      text-transform: uppercase;

      &:hover, &:active, &:focus {
        color: #131313;
      }
    }
  }

  background: #dcda28;
}
